*-debug.log
*-error.log
.oclif.manifest.json
/.nyc_output
/dist
/lib
/tmp
node_modules
.DS_Store
/test-results.xml
coverage/
junit.xml
package-lock.json
.mesh
oclif.manifest.json

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env
config.json

# Dependency directory
bower_components

# Editors
.idea
*.iml
.vscode

# OS metadata
Thumbs.db

# Ignore built ts files
dist/**/*
dist

CHANGELOG.md
