@coreservices:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-core-services-release/
@astock:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-stock-engineering-release/
@multitenant-graphql:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-multitenant-graphql-release/
unsafe-perm=true
//artifactory.corp.adobe.com/artifactory/api/npm/npm-core-services-release/:always-auth=false
engine-strict=true
registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/